.header-bc {
  background-color: rgb(199, 230, 249);
  padding: 20px;
}
.header-nav {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  margin: 0 auto;
}
.header-ul {
  display: flex;
}
.nav-li {
  text-transform: uppercase;
  list-style: none;
  margin-left: 40px;
}
